<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/sitewide.css">
    <link rel="stylesheet" href="/css/post.css">
  </head>
  <body>
    <div class="post_container">
      <div class="home_link_container">
        <a href="/">homeward bound.</a>
      </div>
      <div class="post_title">
        {{ page.title }}
      </div>
      <div class="post_date">
        {{ page.date | date: "%Y . %m . %d" }}
      </div>
      ...
      {{  content }}
    </div>
  </body>
</html>
